
body{
    font-family: 'Lato';
    color: #47525e;
    text-transform: capitalize;
}

span {
    display: block;
    text-align: center;
    
}

.title {
    

    height: 120px;
    border-radius: 5px;
    padding: 10px;

    text-align: center;
    font-size: 35px;
    margin: auto;

    text-transform: capitalize;
}

.center-text{

    text-align: center;
    margin: 20px auto;
}
.box-shadow {
    box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.3);
}

#list-mascotas {
    display: flex;

    justify-content: center;
    flex-flow: wrap;

    
  
    gap: 5px;

    height: 60vh;
    width: 50%;
}
input[type=radio]{
    display: none;
}
label {
    /* color: #de3163; */
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.btn {
    margin: 0px;
    padding: 10px;
    height: 50px;
    width: 100px;
    border: solid 1px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
    background-color: #de316200;
    color: rgb(66, 66, 66);
    box-sizing: border-box;
}
.btn:hover {
    border: 1.5px solid #47525e;
    background-color: #47525e;
    /* box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5); */
}


/* /// */



.container-1 {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* personaje */

/* card */

.card-1 > input:checked + label {
    color: white;
    background-color: #4a4b4b !important;
}

.card-1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    /* background-color: #40e0d0; */
    padding: 10px;
    border-radius: 5px;
    height: 120px;
    width: 120px;

    box-sizing: border-box;
}

.card-1 label {

    display: flex;
    box-sizing: border-box;
    width: 8rem;
    height: 100%;
    align-self: center;

    border-radius: 5px;
    padding: 1rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
}

.card-1 label p {
    display: block;
    margin: 2px 0;

}

.card-1 img {
    display: block;
    width: 80px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: #de3163;
}

.card-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #de3163;
    color: #47525e;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    
    
}

.card-2 .vidas {
    font-size: 44px;
    color: white;
}

#tipo-ataque{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container-2 .personajes {
    display: flex;
    gap: 15px;


    background-color: #de316200 !important;
    margin: 0 20%;
}
.container-2 .personajes div {

    font-size: smaller;
    font-weight: light;
    text-transform: capitalize;
}
/* .container-2 .personajes  p span{
    color: #de3163;
} */

.atk {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 100px;
    gap: 10px;

    background-color: #47525e;
    border-radius: 5px;

 
}

.atk div {
    margin: auto;
    font-size: 24px;

    /* justify-content: center; */
    /* align-items: center;  */
    /* width: 90%; */
    /* height: 90%; */ 

}

.atk div span{
    border-radius: 5px;

    padding: 10px;
    /* width: 100% !important; */
    /* align-self: center; */
 
}

.result {
    background-color: #47525e;
    width: 40%;
    height: 20lvh;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}
.result div {
    height: 10lvh;
   
    background-color: #de3163;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    font-style: oblique;
    text-align: center;
    align-content: center;
    align-self: center;
    color: whitesmoke !important;
   
}


.container-2 .menu-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.container-2 .menu-ataque .btns-ataque {

}

.container-2 #msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    height: 20vh;
  

    overflow-y: auto;
}

.container-2 #msg div{
    text-decoration: none;
    font-style: italic;
    list-style: none;
    font-size: 14px;
    font-weight: normal;
    color: #4a4b4b;
    margin: 3px 0;

}
.rules {
    text-transform: capitalize;
    background-color: #737575;

    border-radius: 5px;

    color: whitesmoke;

    margin: 10px;
    padding: 5px;
    
    box-sizing: border-box;

    width: 48%;
}

.rules h2 {
  margin: 0;
  padding: 0;

}

.rules p {
    margin: 5px 5px 5px 5px;
    font-size: small;
    color: rgb(207, 206, 206);
}

[value=fire], [class$=warring]{
    color: rgb(255, 115, 0);
}
[value=water], [class$=aviso]{
    color: rgb(0, 238, 255);
}
[value=weed], [class$=good]{
    color: rgb(43, 255, 0);
}
[value=ganaste]{
    color: rgb(0, 102, 255) !important;
}
[value=perdiste], [class$=bad]{
    color: rgb(162, 0, 255) !important;
}

[value=empate]{
    color: rgb(102, 102, 102);
}

.dead {
    background-color:  rgb(90, 15, 15);

}

.dead-2 {
    border: 2px solid rgb(90, 15, 15);

}

.life-2 {
    border: 2px solid #169721;

}
.life {
    background-color: #169721;
}

.hidden {
    display: none !important;
}


.alert{
    position: fixed;
    left: 30%;
    right: 30%;
    top: 2rem;
    z-index: 9;

    font-weight: bold;
   
    color: white;
    text-align: center;
    
    padding: 1rem 0;
    border-radius: 10px;
}

.warring{
    background-color: rgb(255, 115, 0);
}
.aviso{
    background-color: rgb(0, 238, 255);
}
.good{
    background-color: rgb(43, 255, 0);
}
.bad {
    background-color: rgb(162, 0, 255);
}

@media(max-width: 428px){
    #list-mascotas {
        height: auto;
        width: 90%;
        
    }

    .result {
        width: 90%;
    }


}