
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.title {
    color: #4a4b4b;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;

    text-align: center;
    font-size: 35px;
    margin: auto;

    text-transform: capitalize;
}

.center-text{

    text-align: center;
    margin: 20px auto;
}
.box-shadow {
    box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.3);
}

#list-mascotas {
    display: flex;

    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 60vh;
    width: 50%;
}
input[type=radio]{
    display: none;
}
label {
    color: #de3163;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.btn {
    margin: 0px;
    padding: 10px;
    height: 50px;
    width: 100px;
    border: solid 1px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
    background-color: #de316200;
    color: rgb(66, 66, 66);
    box-sizing: border-box;
}
.btn:hover {
    box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5);
}


/* /// */

.container-1 {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* card */

.card-1 > input:checked + label {
    color: white;
    background-color: #4a4b4b;
}

.card-11 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    /* background-color: #40e0d0; */
    padding: 10px;
    border-radius: 5px;
    height: 120px;
    width: 120px;

    box-sizing: border-box;
}

.card-1 label {

    display: flex;
    box-sizing: border-box;
    width: 8rem;
    height: 100%;
    align-self: center;

    border-radius: 5px;
    padding: 1rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
}

.card-1 label p {
    display: block;
    margin: 2px 0;

}

.card-1 img {
    display: block;
    width: 80px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: #de3163;
}



#tipo-ataque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container-2 .personajes {
    margin: 0 20%;
}
.container-2 .personajes p {

    font-size: smaller;
    font-weight: light;
    text-transform: capitalize;
}
.container-2 .personajes p span{
    color: #de3163;
}
.container-2 .menu-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.container-2 .menu-ataque .btns-ataque {

}

.container-2 #msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    height: 20vh;
  

    overflow-y: auto;
}

.container-2 #msg div{
    text-decoration: none;
    font-style: italic;
    list-style: none;
    font-size: 14px;
    font-weight: normal;
    color: #4a4b4b;
    margin: 3px 0;

}
.rules {
    text-transform: capitalize;
    background-color: #737575;

    border-radius: 5px;

    color: whitesmoke;

    margin: 10px;
    padding: 5px;
    
    box-sizing: border-box;

    width: 48%;
}

.rules h2 {
  margin: 0;
  padding: 0;

}

.rules p {
    margin: 5px 5px 5px 5px;
    font-size: small;
    color: rgb(207, 206, 206);
}

[value=fire]{
    color: rgb(255, 115, 0);
}
[value=water]{
    color: rgb(0, 238, 255);
}
[value=weed]{
    color: rgb(43, 255, 0);
}
[value=ganaste]{
    color: rgb(0, 102, 255);
}
[value=perdiste]{
    color: rgb(162, 0, 255);
}

[value=empate]{
    color: rgb(102, 102, 102);
}